
/* === general === */

.width-80 {
    width: 80%;
}

.width-70 {
    width: 70%;
}

.width-100 {
    width: 100%;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
    font-size: 47px;
    font-weight: 700;
}

.fs-16 {
    font-size: 16px;
}

.fw-400 {
    font-weight: 400;
}

.fw-700 {
    font-weight: 700;
}

.gap-16 {
    gap: 16px;
}

.gap-22 {
    gap: 22px;
}

.gap-30 {
    gap: 30px;
}

.gap-40 {
    gap: 40px;
}

.mt-60 {
    margin-top: 60px;
}

.color-white {
    color: white;
}

.contacts-disp-flex-ai-center-fd-col {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contacts-disp-flex-ai-start-fd-col {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.contacts-df-row-ai-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contacts-disp-flex-ai-center-fd-col {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contacts-disp-flex-center-center-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* used for btn styled as a circle */
.btn-circle {
    border-radius: 46px;
    padding: 12px;
    width: unset;
    height: unset;
    position: fixed;
    right: 20px;
    bottom: 100px;
}

/*=== elements ===*/

/* contacts-list */

.contacts-list {
    background-color: var(--element-bg-color);
    overflow-y: scroll;
    margin-top: 82px;
    margin-bottom: 82px;
}

.contacts-headline-letter {
    display: flex;
    justify-content: center;
    width: 42px;
    font-size: 20px;
}

.contacts-headline-letter-padding {
    padding: 17px 36px;
}

.contacts-list-seperator {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 8px;
    margin-bottom: 8px;

}

.contacts-contact-entry {
    gap: 20px;
    padding: 15px 24px;
}

.contacts-user-initials {
    width: 42px;
    height: 42px;
    background-color: orange;
    border-radius: 45px;
    border: none;
    color: white;
    font-size: 12px;
}

.contacts-contact {
    gap: 5px;
}

.contacts-name {
    font-size: 20px;
}

.contacts-email {
    color: var(--secondary-color);
    font-size: 16px;
}

/* contacts details */

.contacts-details {
    margin-top: 128px;
}

.contacts-details-seperator {
    border: 3px solid var(--secondary-color);
    width: 25%;
}

.contacts-details-contact {
    gap: 20px;
}

.contacts-details-user-initials {
    width: 80px;
    height: 80px;
    background-color: orange;
    border-radius: 70px;
    border: none;
    color: white;
    font-size: 27px;
    font-weight: 400;
}

.contacts-details-name {
    font-size: 36px;
    font-weight: 700;
    width: 220px; /* needs to be higher for desktop */
}

/* add and edit contact */

.bg {
    display: none;
    /* transition: transform 0.3s ease-out, background-color 0s ease-out; */
}

.bg.closed {
    transform: translateX(200%);
}

.bg.opened {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-btn-close {
    filter: invert(100%);
    position: relative;
    top: 45px;
    right: -40%;
}

.contacts-btn-close img {
    height: 15px;
    width: 15px;
}

.contacts-top-half {
    background-color: var(--primary-color);
    width: 90vw;
    height: 45vh;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-sizing: border-box;
    padding: 66px 24px;
}

.contacts-management-user-initials {
    width: 30%;
    height: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: orange;
    border-radius: 70px;
    border: 3px solid white;
    color: white;
    font-size: 47px;
    font-weight: 400;
}

.icon-contact-person {
    background: url("/assets/img/contact_person.svg") no-repeat 90%;
}

.icon-contact-phone {
    background: url("/assets/img/contact_phone.svg") no-repeat 90%;
}

.icon-contact-mail {
    background: url("/assets/img/contact_mail.svg") no-repeat 90%;
}

.contacts-input {
    height: 41px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding: 13px 21px;
    box-sizing: border-box;
}

.contacts-input:focus {
    outline: none;
    border-color: var(--secondary-color);
}

.contacts-bottom-half {
    width: 100%;
    height: 45vh;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: white;
}

.btn-create {
    height: 51px;
}