/* == responsive desktop == */

@media(min-width: 1017px) {
    #contact-list {
        margin-left: 232px;
        margin-bottom: 0;
        padding: 32px 0 32px 24px;
        width: 30%;
        box-shadow: 4px 0px 2px -2px rgba(0, 0, 0, 0.2);
    }

    #contact-list-table {
        margin-top: 24px;
        overflow-y: scroll;
        width: 100%;
    }

    #contacts-details {
        margin-left: 40px;
        height: 100vh;
        margin-bottom: 0;
    }

    .contact-list-details {
        display: flex;
        flex-direction: row;
        height: 100vh;
        margin-bottom: 0;
        overflow: hidden;
        width: auto;
    }

    #contact-details-header {
        margin-top: 206px;
        flex-direction: row;
        gap: 30px;
        align-items: center;
        width: auto;
    }

    #contact-slogan {
        font-size: 27px;
    }

    .contacts-details-seperator-mobile {
        display: none;
    }

    .contacts-details-seperator-desktop {
        display: unset;
        height: 59px;
        border: 3px solid var(--secondary-color);
    }

    .contacts-details {
        margin-top: 0;
    }

    .contacts-details-name {
        width: max-content;
    }

    .close-arrow {
        display: none;
    }

    #open-delete-edit-menu-btn {
        display: none;
    }

    #show-contact-btn {
        display: none;
    }

    .bg:not(#add-contact):not(#edit-contact):not(#delete-edit-menu) {
        display: unset;
        /* transition: transform 0.3s ease-out, background-color 0s ease-out; */
    }
    
    .bg.closed:not(#add-contact):not(#edit-contact):not(#delete-edit-menu) {
        transform: none;
    }
    
    .bg.opened:not(#add-contact):not(#edit-contact):not(#delete-edit-menu) {
        background-color: unset;
        z-index: unset;
        position: unset;
        top: unset;
        right: unset;
        bottom: unset;
        left: unset;
        display: unset;
        justify-content: center;
        align-items: center;
    }   

    .contacts-contact-entry {
        gap: 35px;
        padding: 15px 24px;
        border-radius: 10px;
        cursor: pointer;
    }
    
    .contacts-contact-entry:hover {
        background-color: #F9F9F9;
    }
    
    .contacts-contact-entry.active {
        background-color: var(--primary-color);
    }

    .contacts-contact-entry.active .contacts-name {
        color: white;
    }

    .width-70 {
        width: 80%;
    }

    #edit-delete-desktop-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .del-edit-menu-btn {
        padding: 0;
    }

    .del-edit-menu-btn:hover {
        background-color: unset;
    }

    .contacts-top-half {
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        width: 30vw;
        height: 594px;
        max-width: unset;
    }

    .contacts-bottom-half {
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
        width: 45vw;
        height: 594px;
        max-width: unset;
    }

    .contacts-management-user-initials {
        height: 150px;
        width: 150px;
        border-radius: 999px;
        margin-left: 20px;
    }
    
    .addAndEditDialog {
        flex-direction: row;
    }

    .contacts-btn-close {
        filter: none;
        right: -95%;
        top: -250px;
    }

    .contacts-form {
        align-items: flex-end;
    }

    .contacts-form-inputs {
        margin-right: 30px;
    }

    .width-100 {
        width: 60%;
    }

    #cancel-btn {
        height: 57px;
        width: 126px;
    }

    #create-btn {
        height: 57px;
        width: 214px;
    }

    .add-contact-btn-layout {
        display: flex;
        flex-direction: row;
    }
}

@media(max-width: 1150px) {
    .add-contact-btn-layout {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media(max-width: 1016px) {
    #add-contact-desktop-btn {
        display: none;
    }

    #edit-delete-desktop-container {
        display: none;
    }

    #cancel-btn {
        display: none;
    }
}