
/* == responsive desktop == */

@media(min-width: 1017px) {

}


/* === general === */


#contact-list-table::-webkit-scrollbar {
    width: 10px;
}

/* scrollbar track */
#contact-list-table::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

/* scrollbar thumb */
#contact-list-table::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #A8A8A8;
}


.width-80 {
    width: 80%;
}

.width-70 {
    width: 70vw;
}

.width-100 {
    width: 100%;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
    font-size: 47px;
    font-weight: 700;
}

.fs-16 {
    font-size: 16px;
}

.fw-400 {
    font-weight: 400;
}

.fw-700 {
    font-weight: 700;
}

.gap-16 {
    gap: 16px;
}

.gap-20 {
    gap: 20px;
}

.gap-22 {
    gap: 22px;
}

.gap-30 {
    gap: 30px;
}

.gap-40 {
    gap: 40px;
}

.mt-60 {
    margin-top: 60px;
}

.mb-40 {
    margin-bottom: 40px;
}

.color-white {
    color: white;
}

.contacts-disp-flex-ai-center-fd-col {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contacts-disp-flex-ai-start-fd-col {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.contacts-df-row-ai-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contacts-disp-flex-ai-center-fd-col {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contacts-disp-flex-center-center-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* used for btn styled as a circle */
.btn-circle {
    border-radius: 46px;
    padding: 12px;
    width: 56px;
    height: 56px;
    position: fixed;
    right: 20px;
    bottom: 100px;
}

/*=== elements ===*/

/* contacts-list */

.contacts-list {
    background-color: var(--element-bg-color);
    margin-top: 82px;
    margin-bottom: 82px;
}

.contacts-headline-letter {
    display: flex;
    justify-content: center;
    width: 42px;
    font-size: 20px;
}

.contacts-headline-letter-padding {
    padding: 17px 36px;
}

.contacts-list-seperator {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 8px;
    margin-bottom: 8px;

}

.contacts-user-initials {
    min-width: 42px;
    width: 42px;
    height: 42px;
    background-color: orange;
    border-radius: 45px;
    border: 2px solid white;
    color: white;
    font-size: 12px;
}

.contacts-contact {
    gap: 5px;
}

.contacts-name {
    font-size: 20px;
}

.contacts-email {
    color: var(--secondary-color);
    font-size: 16px;
}

.contacts-contact-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding: 15px 24px;
}

.contact-list-details {
    width: 100vw;
}

/* contacts details */

.close-arrow {
    height: 32px;
    width: 32px;
    position: relative;
    top: 35px;
    right: -40%;
    cursor: pointer;
}

.contacts-details {
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: var(--body-bg-color) !important;
    justify-content: unset !important;
    z-index: 0 !important;
    height: 100vh;
}

.contacts-seperator {
    border: 3px solid var(--secondary-color);
    width: 25%;
}

.contacts-details-seperator-mobile {
    border: 3px solid var(--secondary-color);
    width: 25%;
}

.contacts-details-seperator-desktop {
    display: none;
}

.contacts-details-contact {
    gap: 20px;
}

.contacts-details-user-initials {
    width: 80px;
    height: 80px;
    background-color: orange;
    border-radius: 70px;
    border: 3px solid white;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 27px;
    font-weight: 400;
}

.contacts-details-name {
    font-size: 36px;
    font-weight: 700;
    width: 220px; /* needs to be higher for desktop */
}

.delete-edit {
    height: 100%;
    width: 100%;
    z-index: 95;
    position: fixed;
}

.del-edit-menu {
    background-color: var(--element-bg-color) !important;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    height: 100px;
    width: 116px;
    box-shadow: 4px 4px 2px -2px rgba(0, 0, 0, 0.3);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px 20px 0 20px;
    position: fixed;
    right: 20px;
    bottom: 95px !important;
    top: unset !important;
    left: unset !important;
    right: 20px !important;
    z-index: 90;
}

.del-edit-menu-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: 96px;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    border-radius: 9px;
}

.del-edit-menu-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--secondary-color);
}

.del-edit-menu-btn:hover #edit-img, .del-edit-menu-btn:hover #delete-img {
    filter: invert(49%) sepia(78%) saturate(448%) hue-rotate(152deg) brightness(102%) contrast(95%);
}

.edit-btn-layout {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#delete-btn, #save-edit-btn {
    height: 51px;
    padding: 18px 10px;
    box-sizing: border-box;
}

#delete-btn {
    width: 82px;
    font-size: 20px;
}

#save-edit-btn {
    width: 99px;
}

/* add and edit contact */

.bg {
     display: none;
    /* transition: transform 0.3s ease-out, background-color 0s ease-out; */
}
    
.bg.closed {
    transform: translateX(200%);
}
    
.bg.opened {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-btn-close {
    filter: invert(100%);
    position: relative;
    top: 45px;
    right: -40%;
}

.contacts-btn-close img {
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.contacts-top-half {
    background-color: var(--primary-color);
    width: 90vw;
    max-width: 500px;
    height: 45vh;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-sizing: border-box;
    padding: 66px 24px;
}

.contacts-management-user-initials {
    width: 30%;
    height: 30vw;
    min-width: 120px;
    min-height: 120px;
    max-width: 150px;
    max-height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #D1D1D1;
    border-radius: 999px;
    border: 3px solid white;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 47px;
    font-weight: 400;
}

.icon-contact-person {
    background: url("/assets/img/contact_person.svg") no-repeat 90%;
}

.icon-contact-phone {
    background: url("/assets/img/contact_phone.svg") no-repeat 90%;
}

.icon-contact-mail {
    background: url("/assets/img/contact_mail.svg") no-repeat 90%;
}

.contacts-input {
    height: 41px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding: 13px 21px;
    box-sizing: border-box;
}

.contacts-input:focus {
    outline: none;
    border-color: var(--secondary-color);
}

.contacts-bottom-half {
    width: 100%;
    max-width: 500px;
    height: 45vh;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: white;
}

.btn-create {
    height: 51px;
}

.addAndEditDialog {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#contact-created-popup {
    width: 60vw;
    height: 74px;
    border-radius: 10px;
    color: var(--body-bg-color);
    background-color: var(--primary-color);
    position: fixed;
    z-index: 90;
    top: 40%;
    left: 20%;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    align-content: center;
}


/* == responsive desktop == */

@media(min-width: 1017px) {
    #contact-list {
        margin-left: 232px;
        margin-bottom: 0;
        padding: 32px 0 32px 24px;
        width: 30%;
        box-shadow: 4px 0px 2px -2px rgba(0, 0, 0, 0.2);
    }

    #contact-list-table {
        margin-top: 24px;
        overflow-y: scroll;
        width: 100%;
    }

    #contacts-details {
        margin-left: 40px;
        height: 100vh;
        margin-bottom: 0;
    }

    .contact-list-details {
        display: flex;
        flex-direction: row;
        height: 100vh;
        margin-bottom: 0;
        overflow: hidden;
        width: auto;
    }

    #contact-details-header {
        margin-top: 206px;
        flex-direction: row;
        gap: 30px;
        align-items: center;
        width: auto;
    }

    #contact-slogan {
        font-size: 27px;
    }

    .contacts-details-seperator-mobile {
        display: none;
    }

    .contacts-details-seperator-desktop {
        display: unset;
        height: 59px;
        border: 3px solid var(--secondary-color);
    }

    .contacts-details {
        margin-top: 0;
    }

    .contacts-details-name {
        width: max-content;
    }

    .close-arrow {
        display: none;
    }

    #open-delete-edit-menu-btn {
        display: none;
    }

    #show-contact-btn {
        display: none;
    }

    .bg:not(#add-contact):not(#edit-contact):not(#delete-edit-menu):not(#contact-created-popup) {
        display: unset;
        /* transition: transform 0.3s ease-out, background-color 0s ease-out; */
        /* :not(#contact-created-popup) */
    }
    
    .bg.closed:not(#add-contact):not(#edit-contact):not(#delete-edit-menu):not(#contact-created-popup) {
        transform: none;
    }
    
    .bg.opened:not(#add-contact):not(#edit-contact):not(#delete-edit-menu):not(#contact-created-popup) {
        background-color: unset;
        z-index: unset;
        position: unset;
        top: unset;
        right: unset;
        bottom: unset;
        left: unset;
        display: unset;
        justify-content: center;
        align-items: center;
    }   

    .contacts-contact-entry {
        gap: 35px;
        border-radius: 10px;
        cursor: pointer;
    }
    
    .contacts-contact-entry:hover {
        background-color: #F9F9F9;
    }
    
    .contacts-contact-entry.active {
        background-color: var(--primary-color);
    }

    .contacts-contact-entry.active .contacts-name {
        color: white;
    }

    .width-70 {
        width: 80%;
    }

    #edit-delete-desktop-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .del-edit-menu-btn {
        padding: 0;
    }

    .del-edit-menu-btn:hover {
        background-color: unset;
    }

    .contacts-top-half {
        border-top-right-radius: 0;
        border-bottom-left-radius: 30px;
        width: 30vw;
        height: 594px;
        max-width: unset;
    }

    .contacts-bottom-half {
        border-bottom-left-radius: 0;
        border-top-right-radius: 30px;
        width: 45vw;
        height: 594px;
        max-width: unset;
    }

    .contacts-management-user-initials {
        height: 150px;
        width: 150px;
        border-radius: 999px;
        margin-left: 20px;
    }
    
    .addAndEditDialog {
        flex-direction: row;
    }

    .contacts-btn-close {
        filter: none;
        right: -95%;
        top: -250px;
    }

    .contacts-form {
        align-items: flex-end;
    }

    .contacts-form-inputs {
        margin-right: 30px;
    }

    .width-100 {
        width: 60%;
    }

    #cancel-btn {
        height: 57px;
        width: 126px;
    }

    #create-btn {
        height: 57px;
        width: 214px;
    }

    .add-contact-btn-layout {
        display: flex;
        flex-direction: row;
    }

    #contact-created-popup {
        width: 40vw;
        left:30%
    }

    .logo-size {
        width: 54px;
        height: 67px;
    }

    .contacts-text-format {
        width: 70%;
    }
}

@media(max-width: 1150px) {
    .add-contact-btn-layout {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media(max-width: 1016px) {
    #add-contact-desktop-btn {
        display: none;
    }

    #edit-delete-desktop-container {
        display: none;
    }

    #cancel-btn {
        display: none;
    }
}