body {
    margin: 0;
    padding: 0;
}

.log-in-logo {
    width: 100px;
    height: 121px;
}

.acoustic {
    background-color: #2A3647;
    height: 100vh;
    width: 100%;
    animation: onHoverAnimation 1s linear both;
    animation-duration: onHoverAnimation 1s;
    animation-delay: 200ms;
}

@keyframes onHoverAnimation {
    0% {
        background-color: #2A3647;
    }

    100% {
        background-color: #F6F7F8;
    }
}


.acoustic .mobile-logo-white {
    display: flex;
    position: relative;
    top: calc(50% - 60px);
    left: calc(50% - 50px);
    transform:  scale(0.64);
    animation: logo-animation-white 1s ease-in-out forwards;
    height: 121px;
    width: 100px;
    overflow: hidden;
    animation-delay: 200ms;
    opacity: 1;
}

@keyframes logo-animation-white {
    from {
        top: calc(50% - 60px);
        left: calc(50% - 50px);
    }

    to {
        top: 37px;
        left: 38px;
        opacity: 0;
    }
}


.mobile-logo-black {
    display: flex;
    position: absolute;
        top: 37px;
        left: 38px;
    transform: scale(0.64);
    animation: logo-animation-black 1s ease-in-out forwards;
    height: 121px;
    width: 100px;
    overflow: hidden;
    animation-delay: 200ms;
    opacity: 0;
}

@keyframes logo-animation-black {
    from {
        top: calc(50% - 60px);
        left: calc(50% - 50px);
    }

    to {
        opacity: 1;
        top: 37px;
        left: 38px;
    }

}