body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100%;
    width: 100%;
}

#body-login{
    width: 100%;
}

.log-in-logo {
    width: 100px;
    height: 121px;
}


.acoustic {
    position: absolute;
    height: 100%;
    width: 100%;
    animation: logoWidth;
}


@keyframes onHoverAnimation {
    0% {
        background-color: #2A3647;
    }

    100% {
        background-color: #f6f7f800;
        display: none;
    }
}


.acoustic .mobile-logo-white {
    display: flex;
    position: relative;
    top: calc(50% - 60px);
    left: calc(50% - 50px);
    animation: logo-animation-white 1s ease-in-out forwards;
    height: 121px;
    width: 100px;
    overflow: hidden;
    animation-delay: 200ms;
    opacity: 1;
    z-index: 4;
}

@keyframes logo-animation-white {
    from {
        top: calc(50% - 60px);
        left: calc(50% - 50px);
    }

    to {
        top: 37px;
        left: 38px;
        opacity: 0;
        height: 78px;
        width: 64px;
    }
}

@keyframes logoWidth {
    from {
        z-index: 2;
        height: 100%;
    }

    to {
        z-index: 0;
        display: none;
    }
}




.mobile-logo-black {
    display: flex;
    position: absolute;
    top: 37px;
    left: 38px;
    /* transform: scale(0.64); */
    animation: logo-animation-black 1s ease-in-out forwards;
    height: 121px;
    width: 100px;
    overflow: hidden;
    animation-delay: 200ms;
    z-index: 2;
    opacity: 0;
}

@keyframes logo-animation-black {
    from {
        top: calc(50% - 60px);
        left: calc(50% - 50px);
    }

    to {
        opacity: 1;
        top: 37px;
        left: 38px;
        height: 78px;
        width: 64px;
    }
}

.background {
    background-color: #F6F7F8;
    height: 100%;
    width: 100%;
    animation: onHoverAnimation 1s linear both;
    animation-delay: 200ms;
    z-index: 4;
    position: absolute;
}

.log-in-container {
    display: flex;
    top: 205px;
    left: 16px;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 30px);
    max-width: 652px;
    background-color: #ffffff;
    border-radius: 30px;
    gap: 32px;
    padding: 32px 0px 32px 0px;
    box-shadow: 0px 0px 14px 3px #0000000A;
    z-index: 0;
    height: 515px;
}

.log-in-body {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    overflow-y: hidden;
    scrollbar-width: none;
    height: 515px;
    margin-top: 170px;
    /* box-shadow: 0px 0px 14px 3px #0000000A; */
}

.log-in-header {
    height: 72px;
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    justify-content: center;
    display: flex;
    font-weight: 700;
    font-size: 47px;
    line-height: 56.4;
    align-items: center;
    color: black;
    /* width: 180px; */
    height: 56px;
}

.underline-header {
    width: 13%;
    border: 2px solid;
    border-color: var(--secondary-color);
    border-radius: 90px;
}

.log-in-input-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 192px;
    gap: 16px;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    height: 152px;
    align-items: center;
}

.email-input {
    display: flex;
    align-items: center;
    width: calc(90% - 42px);
    height: 50px;
    background-image: url('/assets/img/mail.svg');
    background-repeat: no-repeat;
    box-sizing: border-box;
    outline: none;
    background-position: right;
    background-origin: content-box;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid;
    border-color: #D1D1D1;
    gap: 8px;
    padding: 12px 21px 12px 21px;
    border-radius: 10px;
}

.banana{
    background-image: url('assets//img/lock.svg');
    background-image: url(assets//img/lock.svg);
    position: absolute;
    width: 20px;
    height: 24px;
}


.email-input-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}


.email-input-content:focus {
    outline: none;
    border-color: var(--secondary-color);
}

.email-input:focus {
    outline: none;
    border-color: var(--secondary-color);
}

.password-input:focus {
    outline: none;
    border-color: var(--secondary-color);
}

.password-input-content:focus {
    outline: none;
    border-color: var(--secondary-color);
}


.password-input {
    display: flex;
    align-items: center;
    width: calc(90% - 42px);
    height: 50px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    outline: none;
    background-position: right;
    background-origin: content-box;
    background-image: url();
    font-size: 20px;
    font-weight: 400;
    border: 1px solid;
    border-color: #D1D1D1;
    gap: 8px;
    padding: 12px 21px 12px 21px;
    border-radius: 10px;
}

#icon {
    cursor: pointer;
    position: absolute;
    margin-left: 475px;
}

#icon-2 {
    cursor: pointer;
    position: absolute;
    margin-left: 475px;
}

#icon-3 {
    cursor: pointer;
    position: absolute;
    margin-left: 475px;
}

#icon-4 {
    cursor: pointer;
    position: absolute;
    margin-left: 475px;
}


.password-input-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    flex-direction: column;
}

.log-in-remember-me {
    display: flex;
    align-items: center;
    width: 327px;
    height: 24px;
    margin-right: 60px;
    gap: 10px;
}


.log-in-btn {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 123px;
    gap: 21px;
}

.log-in-btn-black {
    width: 180px;
    height: 51px;
    border-radius: 8px;
    padding: 4px, 0px, 4px, 0px;
    background-color: var(--primary-color);
    color: var(--element-bg-color);
    gap: 10px;
    border: 1px solid;
}

.log-in-btn-white {
    width: 180px;
    height: 51px;
    border-radius: 8px;
    padding: 4px, 0px, 4px, 0px;
    background-color: var(--element-bg-color);
    color: var(--primary-color);
    gap: 10px;
}

.log-in-btn-text {
    width: 48px;
    height: 19px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.guest-btn-text {
    width: 98px;
    height: 19px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.bottom-body {
    display: flex;
    position: absolute;
    width: 292px;
    height: 49px;
    top: 740px;
    /* left: 70px; */
    gap: 35px;
    justify-content: center;
    align-items: center;
}

/* .Not-a-Join-user {
    width: 153px;
    height: 24px;
} */

.bottom-text-not-joiner {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    width: 153px;
    height: 24px;
}

.bottom-text-sing-up {
    width: 59px;
    height: 19px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: #ffffff;
}

.Sing-up-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 104px;
    height: 49px;
    border-radius: 8px;
    padding: 15px 16px 15px 16px;
    gap: 10px;
    background-color: var(--primary-color);
    color: var(--element-bg-color);
    border: 0;
}

.policy-notice {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 246px;
    height: 35px;
    top: 869px;
    /* left: 91px; */
}

.policy-notice:hover {
    cursor: pointer;
}

.privacy-policy {
    width: 121px;
    height: 35px;
    padding: 8px;
    gap: 8px;
}

.legal-notice {
    width: 109px;
    height: 35px;
    left: 137px;
    padding: 8px;
    gap: 8px;
}

.policy-text {
    width: 105px;
    height: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #A8A8A8;
}

.notice-text {
    width: 93px;
    height: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #A8A8A8;
}

.remember-text {
    width: 110px;
    height: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.input-remember {
    width: 18px;
    height: 18px;
}

.sign-up-input {
    gap: 8px;
    border-radius: 10px;
    border: 1px solid;
    padding: 13px 21px 13px 21px;
    border-color: #D1D1D1;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
}

.sign-up-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 296px;
    width: 100%;
}

.sign-up-input:focus {
    outline: none;
    border-color: var(--secondary-color);
}

.name-input:focus {
    outline: none;
    border-color: var(--secondary-color);
}

#sign-up-name {
    background-image: url(/assets/img/person.svg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-position: right;
    background-position-x: 321px;
}

.log-in-header {
    height: 72px;
    width: 100%;
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* .header {
    justify-content: center;
    display: flex;
    font-weight: 700;
    font-size: 47px;
    line-height: 56.4;
    align-items: center;
    color: black;
    width: 173px;
    height: 56px;
} */

.email-input-name-content {
    display: flex;
    align-items: center;
    width: 364px;
    height: 50px;
    background-image: url('/assets/img/person.svg');
    background-repeat: no-repeat;
    box-sizing: border-box;
    outline: none;
    background-position: right;
    background-origin: content-box;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid;
    border-color: #D1D1D1;
    gap: 8px;
    padding: 12px 21px 12px 21px;
    border-radius: 10px;
}

.name-input {
    display: flex;
    align-items: center;
    width: calc(90% - 42px);
    height: 50px;
    background-image: url('/assets/img/person.svg');
    background-repeat: no-repeat;
    box-sizing: border-box;
    outline: none;
    background-position: right;
    background-origin: content-box;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid;
    border-color: #D1D1D1;
    gap: 8px;
    padding: 12px 24px 12px 21px;
    border-radius: 10px;
}

.sign-up-input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 296px;
    gap: 24px;
}

.sign-in-policy {
    color: var(--secondary-color);
    text-decoration: none;
}

.sign-in-policy a {
    text-decoration: none;
}

.p-none a{
    text-decoration: none;
}

.sign-in-policy:hover {
    cursor: pointer;
}

.accapt-the-policy-text {
    color: #A8A8A8;
}

.accapt-the-policy-text a{
    text-decoration: none;
}

.sign-up-btn {
    height: 51px;
    width: 180px;
}

.sign-up-remember-me {
    display: flex;
    align-items: center;
    width: 327px;
    height: 24px;
    padding: 0px 16px 0px 16px;
    gap: 10px;
    justify-content: center;
}

.header-arrow {
    position: absolute;
    height: 32px;
    width: 32px;
    margin-right: 320px;
    margin-bottom: 25px;
    border-radius: 50%;
}

.header-arrow:hover {
    background-color: #e6e6e6;
}

.curser:hover {
    cursor: pointer;
}

.form-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 100%;
}

#notTheSamePassword {
    color: red;
    margin-right: 100px;
    position: absolute;
    margin-top: 90px;
}


.popup {
    position: absolute;
    z-index: 999;
    background-color: #2A3647;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190px;
    width: 450px;
    border-radius: 10px;
    padding: 10px;
    top: 250px;
}

.modalContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-title {
    color: #ffffff;
    font-size: x-large;
}

.d-none {
    display: none;
}

.policy-text:hover {
    color: #29ABE2;
    font-weight: bold;
}

.notice-text:hover {
    color: #29ABE2;
    font-weight: bold;
}

/* #body {
    display: flex;
    align-items: center;
    justify-content: center;
} */


.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0
    }
}

@keyframes scale {

    0%,
    100% {
        transform: none
    }

    50% {
        transform: scale3d(1.1, 1.1, 1)
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #7ac142
    }
}

@media(max-width:680px){
    #icon-3{
        margin-right: 85px;
        margin-left: 81%;
    }
    #icon{
        margin-right: 85px;
        margin-left: 81%;
    }
    #icon-2{
        margin-right: 85px;
        margin-left: 81%;
    }
}


@media(max-width: 480px) {
    .popup {
        width: 345px;
        height: 150px;
        font-size: 12px;
    }
    #notTheSamePassword{
        margin-right: 16%;
    }
}

@media(max-width: 444px) {
    .log-in-remember-me {
        margin-right: 0;
        margin-left: 135px;
    }
}

@media(max-width: 380px) {
    .popup {
        width: 303px;
        height: 123px;
    }
    .header-arrow{
        margin-right: 230px;
    }
}

@media(max-width: 280px) {
    .popup {
        width: 345px;
        height: 150px;
    }
}

@media(max-width: 330px) {
    .popup {
        width: 280px;
        height: 118px;
        font-size: 11px;
    }
}

@media(max-width: 320px) {
    #icon-3{
        margin-right: 85px;
        margin-left: 74%;
    }
    #notTheSamePassword{
        margin-right: 10px;
    }
}

@media(min-width: 990px){
    .header{
        font-size: 61px;
    }
    .bottom-body{
        right: 10%;
        top: 4%;
    }
}
