body {
    margin: 0;
    padding: 0;
}

.log-in-logo {
    width: 100px;
    height: 121px;
}

.acoustic {
    position: absolute;
    background-color: #F6F7F8;
    height: 100vh;
    width: 100%;
    animation: onHoverAnimation 1s linear both;
    animation-duration: onHoverAnimation 1s;
    animation-delay: 200ms;
    z-index: 999;
}

@keyframes onHoverAnimation {
    0% {
        background-color: #2A3647;
    }

    100% {
        background-color: #f6f7f800;
    }
}


.acoustic .mobile-logo-white {
    display: flex;
    position: relative;
    top: calc(50% - 60px);
    left: calc(50% - 50px);
    /* transform: scale(0.64); */
    animation: logo-animation-white 1s ease-in-out forwards;
    height: 121px;
    width: 100px;
    overflow: hidden;
    animation-delay: 200ms;
    opacity: 1;
}

@keyframes logo-animation-white {
    from {
        top: calc(50% - 60px);
        left: calc(50% - 50px);
    }

    to {
        top: 37px;
        left: 38px;
        opacity: 0;
        height: 78px;
        width: 64px;
    }
}


.mobile-logo-black {
    display: flex;
    position: absolute;
    top: 37px;
    left: 38px;
    /* transform: scale(0.64); */
    animation: logo-animation-black 1s ease-in-out forwards;
    height: 121px;
    width: 100px;
    overflow: hidden;
    animation-delay: 200ms;
    opacity: 0;
}

@keyframes logo-animation-black {
    from {
        top: calc(50% - 60px);
        left: calc(50% - 50px);
    }

    to {
        opacity: 1;
        top: 37px;
        left: 38px;
        height: 78px;
        width: 64px;
    }
}

.log-in-container {
    display: flex;
    top: 205px;
    align-items: center;
    flex-direction: column;
    height: 515px;
    width: 396px;
    background-color: #ffffff;
    border-radius: 30px;
    gap: 32px;
    padding-top: 32px;
    padding-left: 0;
    padding-bottom: 32px;
    padding-right: 0;
}

.log-in-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.log-in-header {
    height: 88px;
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    justify-content: center;
    display: flex;
    font-weight: 700;
    font-size: 47px;
    line-height: 56.4;
    align-items: center;
    color: black;
    width: 139px;
    height: 56px;
}

.underline-header {
    width: 70%;
    border: 3px solid;
    border-color: var(--secondary-color);
    border-radius: 90px;
}

.log-in-input-container {
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 364px;
    height: 152px;
}

.email-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 322px;
    height: 24px;
    background-image: url('/assets/img/email-icon.svg');
    background-repeat: no-repeat;
    justify-content: space-between;
    border: none;
}

.email-input-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fill 364px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid;
    gap: 10px;
    padding: 12px, 21px, 12px, 21px;
    border-color: #D1D1D1;
}

.password-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 322px;
    height: 24px;
    background-image: url('/assets/img/password-icon.svg');
    background-repeat: no-repeat;
    justify-content: space-between;
    border: none;
}

.password-input-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fill 364px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid;
    gap: 10px;
    padding: 12px, 21px, 12px, 21px;
    border-color: #D1D1D1;
}

[type="checkbox"] + label {
    position: absolute;
  }
  [type="checkbox"] {
    position: relative;
    left: 15px;
    top: -4px;
    z-index: 0;
    -webkit-appearance: none;
  }
  [type="checkbox"] + label::before {
    width: 22px;
    height: 18px;
    background-image: url("/assets/img/checked.png");
    display: block;
    content: "";
    float: left;
    margin-right: 5px;
    z-index: 5;
    position: relative;
  }
  [type="checkbox"]:checked+label::before {
    background-image: url("/assets/img/checkbox1.svg");
  }