.privacy_policy-container {
    /* width: 80%; */
    display: flex;
    padding: 15px;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 70px;
    /* margin-top: 100px; */
}

.headline {
    font-weight: 700;
    font-size: 61px;
    margin-bottom: 30px;
}

.top {
    display: flex;
    justify-content: space-between;
}


.back-arrow-img {
    width: 40px;
}

.back-arrow-img:hover {
    cursor: pointer;
    background-color: #e6e6e6;
    border-radius: 50%;
}

@media(min-width: 1017px) {
    #privacy_policy-container {
        width: calc(95% - 100px);
        max-width: 1440px;
        padding-left: 140px;
        /* margin-top: 100px; */
    }
    .back-arrow-img {
        width: 40px;
    }
    .headline {
        font-weight: 700;
        font-size: 61px;
        margin-bottom: 30px;
    }
}

