.top-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 104px;
    top: 128px;
    left: 16px;
    gap: 16px;
    max-width: 540px;
    width: calc(100% - 32px);
}

.top-underline {
    width: 17%;
    border: 2px solid;
    border-color: var(--secondary-color);
    border-radius: 90px;
    margin-top: 15px;
}

.join360 {
    width: 203px;
    height: 56px;
    font-weight: 700;
    font-size: 47px;
}

.key-metrics {
    width: 2223px;
    height: 24px;
    font-weight: 400;
    font-size: 20px;
    color: var(--focus-color);
}

.cards-body {
    display: flex;
    flex-direction: column;
    height: 384px;
    top: 272px;
    left: 16px;
    max-width: 540px;
    width: calc(100% - 32px);
    gap: 16px;
}

.first-row {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* justify-content: center; */
    gap: 20px;
}

.counter {
    height: 56px;
    font-weight: 600;
    font-size: 47px;
    align-items: center;
    display: flex;
    color: black;
}

.to-do-card-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* height: 73px; */
    /* width: 40px; */
}

.to-do-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110px;
    border-radius: 20px;
    /* padding: 38px 19px 38px 19px; */
    gap: 10px;
    background-color: white;
    box-shadow: 0px 0px 4px 0px #0000001A;
    color: var(--focus-color);
}

.to-do-card-img {
    width: 40px;
    height: 40px;
    gap: 10px;
    display: flex;
}

.card-info {
    /* width: 40px; */
    height: 17px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: var(--focus-color);
}

.done-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110px;
    border-radius: 20px;
    /* padding: 38px 19px 38px 19px; */
    gap: 10px;
    background-color: white;
    box-shadow: 0px 0px 4px 0px #0000001A;
}

.second-row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 110px;
    top: 140px;
    border-radius: 20px;
    /* padding: 28px 0px 28px 0px; */
    gap: 20px;
    background-color: white;
    box-shadow: 0px 0px 4px 0px #0000001A;
    color: var(--focus-color);
}

.intermediate-line {
    height: 68px;
    width: 1px;
    border: 1px solid;
    border-color: #D1D1D1;
    border-radius: 90px;
    background-color: #D1D1D1;
}

.urgent-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;
    height: 73px;
    gap: 18px;
}

.urgent-right {
    display: flex;
    flex-direction: column;
    width: 135px;
    height: 44px;
    gap: 8px;
    color: var(--focus-color);
}

.date {
    width: 135px;
    height: 19px;
    font-weight: 700;
    font-size: 16px;
    /* color: var(--focus-color); */
}

.upcoming-deadline {
    width: 130px;
    height: 17px;
    font-weight: 400;
    font-size: 14px;
    /* color: var(--focus-color); */
}

.urgent-counter {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.third-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 116px;
    top: 268px;
    gap: 20px;
}

.board-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 116px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 4px 0px #0000001A;
}


.board-info {
    width: 54px;
    height: 34px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: var(--focus-color);
}

.progress-info {
    width: 100%;
    height: 34px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: var(--focus-color);
}

.feedback-info {
    width: 100%;
    height: 34px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: var(--focus-color);
}

.card-hover:hover {
    background-color: var(--primary-color);
    cursor: pointer;
    transform: scale(1.07);
    color: white !important;
}

.card-hover:hover span {
    color: white !important;
}

.black {
    color: black;
}

.focus-color {
    color: var(--focus-color);
}

.to-do-card:hover img {
    content: url(/assets/img/Group\ 7\ white.svg);
}

.done-card:hover img {
    content: url(/assets/img/Group\ 7\ otherWithe.svg);
}

/* #body {
    height: 780px;
} */

.body-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    gap: 30px;
}

.welcome {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: white;
    animation: greet-background 1s linear both;
    animation-delay: 900ms;
    /* animation-name: greet-background; */
    top: 0;
}

.Greet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 274px;
    height: 102px;
    gap: 3px;
    /* opacity: 1; */
}

@keyframes greet-background {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

.greet-text {
    width: 268px;
    height: 43px;
    font-size: 36px;
    font-weight: 400;
    text-align: left;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
}

.greet-name {
    width: 430px;
    height: 56px;
    font-size: 47px;
    font-weight: 700;
    text-align: left;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
}

#sideNav {
    height: 100vh;
    width: 232px;
    background-color: var(--primary-color);
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    box-shadow: 0px 0px 4px 0px #0000001A;
}

.sideNav-links {
    height: 229px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sideNav-logo {
    padding-top: 64px;
    padding-bottom: 64px;
}

.sideNav-summary {
    width: 100%;
    height: 46px;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sideNav-summary a{
    text-decoration: none;
}

.sideNav-summary:hover{
    cursor: pointer;
    background-color: #2A3D59;
}

.sideNav-text {
    font-weight: 400;
    font-size: 16px;
    color: #CDCDCD;
    width: 80px;
}

.sideNav-policy-content {
    height: 40%;
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: flex-end;
}

.sideNav-policy {
    padding: 8px;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #A8A8A8;
    font-weight: 400;
    font-size: 16px;
}

.sideNav-notice {
    padding: 8px;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #A8A8A8;
    font-weight: 400;
    font-size: 16px;
}


@media(min-width: 990px) {
    #nav {
        display: none;
    }
    #sideNav{
        display: flex;
    }
    .welcome{
       visibility: hidden;
    }
    .body-content{
        display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 30px;
    margin-left: 145px;
    width: calc(100% - 232px);
    }
    .top-header{
        flex-direction: initial;
        width: 625px;
        gap: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 73px;
    }
    .join360{
        display: flex;
        width: 264px;
        font-size: 61px;
        font-weight: 700;
        height: 100%;
    }
    .key-metrics{
        width: 301px;
        font-size: 27px;
        font-weight: 400;
        display: flex;
    }
    .switch{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        height: 100%;
        gap: 30px;
    }
    .top-underline{
        height: 100%;
    }
    .key-metrics-content{
        height: 100%;
        /* margin-left: 20px; */
        display: flex;
        align-items: center;
        justify-content: center; 
       }
}