@font-face {
    font-family: Inter;
    src: url(/assets/font/Inter-VariableFont_slnt\,wght.ttf);
}

:root {
    --element-bg-color: #FFFFFF;
    --body-bg-color: #F6F7F9;
    --primary-color: #2A3647;
    --secondary-color: #29ABE2;
    --focus-color: #091931;
}

body {
    margin: 0;
    font-family: Inter;
    background-color: var(--body-bg-color);
}

p {
    margin: 0;
}

.d-none {
    display: none;
}

/* === header === */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 16px;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    background-color: var(--element-bg-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-sizing: border-box;
    width: 100%;
}

.header-user {
    width: 38px;
    height: 38px;
    border: 2px solid var(--primary-color);
    border-radius: 559px;
    text-align: center;
}

.header-user:hover {
    cursor: pointer;
}

.header-user-initials {
    color: var(--secondary-color);
    font-size: 12px;
    position: absolute;
    z-index: 1;
}

.header-user-initials:hover {
    cursor: pointer;
}

.header-logo {
    width: 32px;
    height: 39px;
}

/* === nav-bar === */

#nav {

    width: 100%;
    background-color: #2A3647;
    height: 80px;
    position: fixed;
    z-index: 101;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
}

.nav-bar-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 18px;
}

.nav-bar-icon-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: 80px;
    height: 76px;
    color: #CDCDCD;
    border-radius: 16px;
}

.nav-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding-block: 16px;
}

.nav-bar-links {
    text-decoration: none;
}

.nav-bar-icon-bg:hover,
.nav-bar-icon-bg:focus {
    background-color: var(--focus-color);
    color: #FFFFFF;
}

.nav-bar-icon-bg:hover img,
.nav-bar-icon-bg:focus img {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(37deg) brightness(200%) contrast(101%);
}


.nav-bar-icon {
    width: 24px;
    height: 24px;
}

.nav-bar-icon:hover,
.nav-bar-icon:focus {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(37deg) brightness(200%) contrast(101%);

}




/* used for close icon */
.close-icon {
    width: 24px;
    height: 24px;
}

/* === display flex variations  === */

.disp-flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* === button variations ===*/

/* primary variant for buttons */
.btn-primary {
    background-color: var(--primary-color, black);
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

.btn-primary:hover:not(:focus) {
    background-color: var(--secondary-color);
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
}

.btn-primary:focus {
    background-color: var(--focus-color);
}

/* secondary variant for buttons */
.btn-secondary {
    background-color: unset;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
}

.btn-secondary:hover:not(:focus) {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
}

.btn-secondary:focus {
    border-color: var(--focus-color);
    color: var(--focus-color);
}

/* used for every wo-icon styled btn */
.btn-wo-icon {
    border-radius: 8px;
    width: 104px;
    height: 27px;
    padding: 4px 18px;
    font-size: 16px;
}

/* used for cancel/clear btn */
.btn-cancel {
    border-radius: 10px;
    width: 136px;
    height: 61px;
    padding: 18px 10px;
    font-size: 20px;
    gap: 10px;
}

.btn-cancel::after {
    content: url('/assets/img/close.svg');
}

.btn-cancel:hover:not(:focus) {
    filter: invert(49%) sepia(78%) saturate(448%) hue-rotate(152deg) brightness(102%) contrast(95%);
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4);
}

/* used for create btn */
.btn-create {
    border-radius: 10px;
    height: 61px;
    padding: 18px 10px;
    font-size: 21px;
    font-weight: 700;
    gap: 10px;
}

.btn-create::after {
    content: url('/assets/img/check.svg');
}

.btn-create:hover:not(:focus) {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
}

/* used for add task btn */
.btn-add-task {
    border-radius: 10px;
    height: 51px;
    padding: 18px 10px;
    font-size: 21px;
    font-weight: 700;
    gap: 10px;
}

.btn-add-task::after {
    content: url('/assets/img/add.svg');
}


/* used for add contact btn */
.btn-add-contact {
    border-radius: 10px;
    width: 90%;
    height: 56px;
    padding: 12px 0;
    font-size: 21px;
    font-weight: 700;
    gap: 16px;
}

.btn-add-contact::after {
    content: url(/assets/img/person_add.svg);
}

/*Dropdown menu*/

.dropdown {
    float: right;
    position: relative;
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    /* min-width: 160px; */
    overflow: auto;
    box-shadow: 0px 0px 4px 0px #0000001A;
    right: 0;
    z-index: 1;
    top: 46px;
    width: 150px;
    height: 204px;
    border-radius: 20px 0px 20px 20px;
    padding: 10px;
}

.dropdown-content a {
    color: #CDCDCD;
    /* padding: 8px 16px 8px 16px; */
    text-decoration: none;
    display: flex;
    width: 130px;
    height: 50px;
    border-radius: 8px;
    gap: 8px;
    /* justify-content: center; */
    align-items: center;
    padding-left: 10px;
}

.dropdown a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.show {
    display: block;
}

.sideNav-summary-focus {
    background-color: var(--focus-color) !important;
    color: white !important;
    width: 100%;
    height: 46px;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sideNav {
    height: 100vh;
    width: 232px;
    background-color: var(--primary-color);
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    box-shadow: 0px 0px 4px 0px #0000001A;
}

.sideNav-links {
    height: 229px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sideNav-logo {
    padding-top: 64px;
    padding-bottom: 64px;
}

.sideNav-summary {
    width: 100%;
    height: 46px;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sideNav-summary-focus {
    background-color: var(--focus-color) !important;
    color: white !important;
    width: 100%;
    height: 46px;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sideNav-summary a {
    text-decoration: none;
}

.sideNav-summary a:hover {
    color: #CDCDCD;
    ;
}

.sideNav-summary:hover {
    cursor: pointer;
    background-color: #2A3D59;
}

.sideNav-text {
    font-weight: 400;
    font-size: 16px;
    color: #CDCDCD;
    width: 80px;
}

.sideNav-policy-content {
    height: 45%;
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    gap: 20px;
}

.sideNav-policy {
    padding: 8px;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #A8A8A8;
    font-weight: 400;
    font-size: 16px;
}

.sideNav-notice {
    padding: 8px;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #A8A8A8;
    font-weight: 400;
    font-size: 16px;
}

.sideNav-policy:hover {
    background-color: #2A3D59;
    color: #29ABE2;
    cursor: pointer;
}

.sideNav-notice:hover {
    background-color: #2A3D59;
    color: #29ABE2;
    cursor: pointer;
}

/* .greet-body {
    display: none;
}

.greet {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} */

.header-text {
    display: none;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 20px;
}

.top-right-infos {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.info-img {
    display: none;
}

.info-img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* .help-d-none{
    display: flex;
} */

@media(min-width: 1017px) {
    #nav {
        display: none;
    }

    #sideNav {
        display: flex;
    }

    /* .welcome {
        visibility: hidden;
    } */

    /* .body-content {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        height: 100vh;
        gap: 30px;
        margin-left: 145px;
        width: calc(100% - 232px);
        max-width: 700px;
        margin-left: 65px;
    } 

     #body {
        margin-left: 232px;
        width: calc(100% - 232px);
    }

    .top-header {
        flex-direction: initial;
        width: 625px;
        gap: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 73px;
    } */

    /* .join360 {
        display: flex;
        width: 264px;
        font-size: 61px;
        font-weight: 700;
        height: 100%;
    }

    .key-metrics {
        width: 301px;
        font-size: 27px;
        font-weight: 400;
        display: flex;
    }

    .switch {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        height: 100%;
        gap: 30px;
    }

    .top-underline {
        height: 100%;
    } */

    /* .key-metrics-content {
        height: 100%;
         margin-left: 20px; 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .greet {
        align-items: baseline;
    }

    .greet-text {
        justify-content: flex-start;
    }

    .greet-body {
        display: flex;
    } */

    /* .welcome {
        height: 0;
        width: 0;
    } */

    .help-d-none {
        display: none !important;
    }

    .dropdown-content {
        height: auto;
    }

    .info-img {
        display: flex;
    }

    .header-text {
        display: flex;
        margin-right: 14%;
    }
}


/* @media(max-width: 1280px) {
    .greet-name {
        width: auto;
    }
}

@media(max-width: 1110px) {
    .join360 {
        width: auto;
    }

    .top-header {
        margin-bottom: 30px;
        width: 100%;
    }

    .body-content {
        margin-left: 20px;
    }
}

@media(max-width:1017px) {
    .body-content {
        margin-left: 2px;
    }
} */