<form id="templateWrapper" class="template-wrapper">
    <div id="leftSide" class="left-side-desktop">
        <div class="add-task-capture-input">
            <div class="add-task-required-fields">
                <p class="font-size-add-task">Title</p>
                <p class="add-task-required-icon">*</p>
            </div>
            <input maxlength="30" minlength="2" id="add-task-input-title" class="add-task-input-fields" type="text"
                placeholder="Enter a title" required>
            <div id="titleRequired" class="required-field d-none-add-task">This field is required</div>
        </div>
        <div class="add-task-capture-input">
            <p class="font-size-add-task">Description</p>
            <textarea maxlength="250" rows="5" id="add-task-input-description" class="add-task-input-fields-description"
                type="text" placeholder="Enter a Description"></textarea>
        </div>
        <div class="add-task-capture-input">
            <p class="font-size-add-task">Assigned to</p>
            <div class="add-task-selection">
                <div class="dropdown-add-task" id="dropdown">
                    <div id="selectfieldOpen" class="addTask-selectfield"  onclick="openContactListTasks()">
                        Select contacts to assign
                        <img id="selectFieldOpenIMG" src="./assets/img/arrow_down.svg" alt="">
                    </div>
                    <div id="selectfieldClose" class="addTask-selectfield d-none-add-task"
                        onclick="closeContactListTasks()">
                        <input class="search-field-input" onkeydown="searchContacts()" onkeyup="searchContacts()"
                            id="searchField" type="input">
                        <img src="./assets/img/arrow_up.svg" alt="">
                    </div>
                    <ul class="dropdown-menu d-none-add-task" id="dropDownList">
                        <!-- Checkboxes werden hier dynamisch hinzugefügt -->
                    </ul>
                    <div class="list-acronyms" id="checkedContacts">
                        <!-- angewählte Personen werden hier dynamisch hinzugefügt -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="separator" class="separator-desktop"></div>
    <div id="rightSide" class="right-side-desktop">
        <div class="add-task-capture-input">
            <div class="add-task-required-fields">
                <p class="font-size-add-task">Due date</p>
                <p class="add-task-required-icon">*</p>
            </div>
            <input id="add-task-input-date" class="add-task-input-fields" type="date" required>
            <div id="dateRequired" class="required-field d-none-add-task">This field is required</div>
        </div>
        <div class="required-field d-none-add-task">This field is required</div>
        <div class="add-task-capture-input">
            <p class="font-size-add-task">Prio</p>
            <div class="add-task-prio-button-container">
                <div class="add-task-prio-buttons" id="priourgent" onclick="setPrio('urgent', 'urgent-color')">
                    <p>Urgent</p>
                    <div id="urgentImg">
                        <img src="/assets/img/urgent.svg" alt="urgent">
                    </div>
                </div>
                <div class="add-task-prio-buttons" id="priomedium" onclick="setPrio('medium', 'medium-color')">
                    <p>Medium</p>
                    <div id="mediumImg">
                        <img src="/assets/img/medium.svg" alt="medium">
                    </div>
                </div>
                <div class="add-task-prio-buttons" id="priolow" onclick="setPrio('low', 'low-color')">
                    <p>Low</p>
                    <div id="lowImg">
                        <img src="/assets/img/low.svg" alt="low">
                    </div>
                </div>
            </div>
        </div>
        <div class="add-task-capture-input" id="categorieCapture">
            <div class="add-task-required-fields">
                <p class="font-size-add-task">Category</p>
                <p class="add-task-required-icon">*</p>
            </div>
            <div class="required-field d-none-add-task">This field is required</div>
            <div class="add-task-selection">
                <div class="task-selection-wrapper">
                    <div id="categorySelectfieldOpen" class="addTask-selectfield" onclick="openCategoryList()">
                        Select task category
                        <img src="./assets/img/arrow_down.svg" alt="">
                    </div>
                    <div id="categorySelectfieldClose" class="addTask-selectfield d-none-add-task"
                        onclick="closeCategoryList()">
                        Select task category
                        <img src="./assets/img/arrow_up.svg" alt="">
                    </div>
                    <div id="categorySelectfieldTask" class="addTask-selectfield d-none-add-task"
                        onclick="closeCheckedCategory()">
                        <div id="selectedCategory"></div>
                        <img src="./assets/img/arrow_up.svg" alt="">
                    </div>
                    <div id="categoryDropDownList" class="categoryDropDown d-none-add-task">
                        <label class="dropdown-option" onclick="checkedCategory('Technical Task')">
                            <input type="radio" name="" id="categories" class="add-task-radio-hidden"
                                value="Technical Task">
                            <span>Technical Task</span>
                        </label>
                        <label class="dropdown-option" onclick="checkedCategory('User Story')">
                            <input type="radio" name="" id="categories" class="add-task-radio-hidden"
                                value="User Story">
                            <span>User Story</span>
                        </label>
                    </div>
                </div>
                <div id="categoryRequired" class="required-field d-none-add-task">This field is required</div>
            </div>
        </div>
        <div id="addTaskMarginButtom" class="add-task-capture-input add-task-margin-buttom">
            <div class="add-task-required-fields">
                <p class="font-size-add-task">Subtasks</p>
            </div>
            <div id="add-task-subtasks-inputfield" class="add-task-subtasks-inputfield">
                <input class="subtasks-input" required id="subtasks-input" minlength="5" onclick="taskInput()"
                    type="text">
                <div class="add-task-imgs">
                    <img onclick="addToSubtaskArray()" id="check-visibility" class="d-none"
                        src="assets/img/check-task.svg" alt="">
                    <img onclick="deleteValue()" id="switch_img" src="/assets/img/add.svg" alt="">
                </div>
            </div>
            <div class="add-task-subtasks-list">
                <div id="add-task-subtasks-list"></div>
            </div>

        </div>
    </div>
    <div id="messageBoxBG" class="message-box-bg d-none-add-task">
        <div id="messageBox" class="message-box">
            <p>Task added to board</p>
            <img src="assets/img/board_icon.svg" alt="board icon">
        </div>
    </div>
</form>